@using ComponentInteraction.Models

<div class="border border-danger border-3 p-3">
    <h3>Grand Parent Component</h3>
    The grand parent component is passing <span class="text-danger">@ExampleInstance1.Data</span> to the descendant components.
    <CascadingValue Value="this">
        <CascadingValue Value="ExampleInstance1">
            <Parent />
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    public ExampleClass1 ExampleInstance1 { get; set; } = new()
    {
        Data = "Fresh data"
    };

    public void NotifyChange()
    {
        InvokeAsync(StateHasChanged);
    }
}